body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.videoBackground {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.logoutMain {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 111px;
    background: transparent;
}

.logoutBtn {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid rgb(220, 206, 206);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.logoutBtn:hover{
    background-color: gray;
}
.createRoomBtn {
    padding: 14px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid rgb(220, 206, 206);
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.createRoomPart {
    margin: auto;
    width: 300px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 80px;
    margin-top: 40px;
    background: transparent;
}
.createRoomPart h2  {
    color: white;
}
.createRoomPart  p {
    color: white;
}
